html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Crimson Pro", serif;
  line-height: 1.3em;
}

body > main {
  flex: 1;
}

main {
  max-width: 700px;
  margin: 50px auto 0;
  padding-bottom: 10rem; /* make a margin between the main and footer */
}

main > header {
  display: flex;
  justify-content: space-between;
}

section > h1 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

section > p:nth-of-type(1) {
  margin-top: 0;
}

section ul {
  margin: 0;
}

section ul li:not(:first-child) {
  margin-top: 10px;
}

section ul > li > h2 {
  font-size: 18px;
  display: inline;
}

section ul > li > p:before {
  content: " - ";
}

section ul > li > p {
  display: inline;
}

a:link, a:visited {
  color: #fc0000;
}

footer {
  text-align: center;
  margin-top: auto;
}

#content {
  margin: 1.1rem auto;
  padding: 0 1.5rem;
  max-width: 40rem;
}

.headshot img {
  max-width: 120px;
  border-radius: 50%;
  object-fit: cover;     /* adjust the image to fit in the container */
  aspect-ratio: 1 / 1;   /* make square */
  /* transform: scale(1.1); */ /* zoom-in */
  clip-path: circle(58px at center);
}

.tldr {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.tldr > h1 {
  font-family: "Lato", serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
}

.accounts {
  margin: 0;
}

.accounts span:not(:first-child):before {
  content: " / ";
}

#tokyo-jp::before {
  content: "🇯🇵";
}

@media (prefers-color-scheme: dark) {
  #tokyo-jp::before {
    content: "🗼";
  }
}

/* Dark-mode colors */
@media (prefers-color-scheme: dark) {
  body {
    background: #1c232d;
    color: #72797b;
  }

  a:link, a:visited {
    color: #e94e31;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .tldr {
    padding-left: 1.5rem;
  }
}
